@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-bebas: var(--font-bebas);
  --font-dmSans: var(--font-dmSans)
  --font-mono: var(--font-geist-mono);
  --font-tinos: var(--font-tinos)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.primary-color{
  color: #ffffea;
}

.dark-brown{
  color: #743809;
}

.azure{
  color: #82a9c9;
}


.orange{
  color: #edaf00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
